<div id="task<%= task.id %>" class="card">
    <div class="card">
        <div class="navbar navbar-expand-lg navbar-light bg-light card-header" id="task<%= task.id %>header">
            <%= form_with model: task, id: "completed_form", form_tag: "completed_form", class: "form", data: { type: :json }, url: "tasks/" + task.id.to_s + "/toggle" do |f| %>
                <%= f.check_box :completed, id: "completed", class: "form-control" %>
            <% end %>

                <button id="task_title" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= task.id %>" aria-expanded="true" aria-controls="collapse<%= task.id %>">
                    <span class="h4 text-dark"><%= task.title %></span>
                </button>
            <button type="button" id="edit_task_btn" class="btn btn-outline-success task-header-btn invisible" data-toggle="modal" data-target="#create_task_modal" data-task-id=<%= task.id %>>Edit</button>
            <%= link_to "Delete", "tasks/" + task.id.to_s + "/delete", id: "delete_task", class: "btn btn-outline-danger task-header-btn mr-auto invisible", remote: true, method: :delete %>
            
            <form id="mark_from" class="form invisible">
                <input id="marked" class="form-control" type="checkbox" data-task-id=<%= task.id %>>
            </form>
        </div>
        <div id="collapse<%= task.id %>" class="collapse" aria-labelledby="task<%= task.id %>header" data-parent="#lists">
            <div class="card-body">
                <p class="font-weight-bold">Description:</p>
                <p class="desc-area"><%= task.description %></p>
                <span class="font-weight-bold">Priority: </span> <span id="task_priority"><%= task.priority %></span>
                <p><span class="font-weight-bold">Due date: </span><%= task.due_date %></p>
            </div>
        </div>
    </div>
</div>