<li id="task<%= task.id %>">
    <%= form_with model: task, id: "completed_form", form_tag: "completed_form", data: { type: :json }, url: "tasks/" + task.id.to_s + "/toggle" do |f| %>
        <%= f.check_box :completed, id: "completed", class: "form-control" %>
    <% end %>
    <h4><%= task.title %></h4>
    <%= task.description %><br>
    <%= task.priority %><br>
    <%= task.due_date %><br>
    <%= link_to "Delete", "tasks/" + task.id.to_s + "/delete", id: "delete_task", remote: true, method: :delete %>
    <button type="button" id="edit_task_btn" class="btn btn-default" data-toggle="modal" data-target="#create_task_modal" data-task-id=<%= task.id %>>Edit</button>
</li>