<!-- <h1><%= @header %></h1> -->
<%= form_with model: @user, id: "sign_in", form_tag: "sign_in", data: { type: :json }, url: "authorise" do |f| %>
    <p><%= f.email_field :email %></p>
    <p><%= f.password_field :pass %></p>
    <p><%= f.submit %></p>
<% end %>
<%= button_to "Sign up", :sign_up, method: :get %>