<%= form_with model: @user, id: "sign_up", form_tag: "sign_up", class: "form-sign", data: { type: :json }, url: "create" do |f| %>
    <h2>Sign up</h2>
    <%= f.text_field :firstname, class: "form-control top-form-input", placeholder: "First name" %>
    <%= f.text_field :lastname, class: "form-control middle-form-input", placeholder: "Last name" %>
    <%= f.email_field :email, class: "form-control middle-form-input", placeholder: "Email" %>
    <%= f.password_field :pass, class: "form-control middle-form-input", placeholder: "Password" %>
    <%= f.password_field :pass2, class: "form-control bottom-form-input", placeholder: "Repeat password" %>
    <div id="errors"></div>
    <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block"%>
    <%= link_to "Sign in", :sign_in, method: :get %>
<% end %> 